<!DOCTYPE html>
<html>
<head>
    <title>Control Mesas</title>
    <style>
        .button-container {
            display: flex;
            gap: 21px;
            padding: 20px;
        }
        .desk-button {
            padding: 30px;
            font-size: 2em;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div class="button-container">
        <button class="desk-button" onclick="nextTurn(1)">Mesa 1</button>
        <button class="desk-button" onclick="nextTurn(2)">Mesa 2</button>
        <button class="desk-button" onclick="nextTurn(3)">Mesa 3</button>
        <button class="desk-button" onclick="nextTurn(4)">Mesa 4</button>
    </div>

    <script>
        function nextTurn(desk) {
            fetch('/next_turn', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({desk: desk})
            });
        }
    </script>
</body>
</html>